extends ../layout/default
block main
    .panel.panel-default(ng-controller='list')
        .panel-heading
            .panel-title
                p Total Count : #{contacts.length}
                p
                    button.btn.btn-primary(ng-click='mergeAll()') Merge All
        .panel-body
            .table-responsive
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th
                                label Name
                            th
                                label Last Name
                            th
                                label Count
                            th
                                label Phones
                    tbody
                        each contact in contacts
                            tr.table-striped
                                td #{contact._id.name}
                                td #{contact._id.lastName}
                                td #{contact.count}
                                td
                                    each phone in contact.phones
                                        p #{phone}
        .panel-footer
block append script
    script.
        cm.controller('list', function($scope, $http){
            $scope.contacts = !{JSON.stringify(contacts)}
            $scope.mergeAll = function(contact){
                console.log(contact)
                NProgress.start()
                $http({
                url: '/mergeDuplicate?all=true',
                data : contact,
                method : 'post',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success : function(data){
                    NProgress.done()
                    contact.isHidden = true
                    alertify.succes('Done')
                    console.log(data)
                    }
                })
            }
        });
